<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout(~{::.container})}">
<body>
<div class="container">

    <div class="content-header">
        <h1>OSTATNIE WYDATKI</h1>

        <a th:href="@{/expenses/new}">
            <input class="uk-button uk-button-secondary" type="button" value="Dodaj nowy">
        </a>
    </div>

    <h2>RAZEM:
        <span th:if="${expenses.isEmpty()}" th:text="${#numbers.formatCurrency(0)}"></span>
        <span th:text="${#numbers.formatCurrency(#aggregates.sum(expenses.![amount]))}"></span>

    </h2>

    <table class="uk-table uk-table-hover">
        <thead>
        <tr>
            <th>Lp.</th>
            <th>Data</th>
            <th>Kwota</th>
            <th>Kategoria</th>
            <th>Opis (niewymagane)</th>
            <th>Aktywność</th>
        </tr>
        </thead>
        <tbody>

        <tr th:each="expense, iterator : ${expenses}">
            <td th:text="${iterator.count}"></td>
            <td th:text="${expense.date}"></td>
            <td th:text="${#numbers.formatCurrency(expense.amount)}"></td>
            <td th:text="${expense.category.displayValue}"></td>
            <td th:text="${expense.description}"></td>
            <td>
                <a th:href="@{/expenses/edit/{id}(id=${expense.id})}">
                    <button class="uk-button uk-button-primary" th:text="Edytuj"></button>
                </a>
                <a th:href="@{/expenses/delete/{id}(id=${expense.id})}">
                    <button class="uk-button uk-button-danger" th:text="Usuń"></button>
                </a>
        </tr>

        <td colspan="6" th:if="${expenses.isEmpty()}" th:text="#{noData}"></td>

        </tbody>
    </table>
    <a th:href="@{/}">
        <button class="uk-button uk-button-secondary" th:text="Powrót"></button>
    </a>

</div>
</body>
</html>