<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout(~{::.container})}">
<body>
<div class="container">

    <div class="content-header">
        <h2>TWOJE WPŁYWY W KWIETNIU</h2>
        <a th:href="@{/incomes/new}">
            <input class="uk-button uk-button-secondary" type="button" value="Dodaj nowy">
        </a>
    </div>


    <table class="uk-table uk-table-hover">
        <thead>
        <tr>
            <th>ID</th>
            <th>Data</th>
            <th>Kwota</th>
            <th>Opis (niewymagane)</th>
            <th>Aktywność</th>
        </tr>
        </thead>
        <tbody>

        <tr>
            <td>1</td>
            <td>10.04.2020</td>
            <td>4845,45 PLN</td>
            <td>Wynagrodzenie</td>
            <td>
                <button class="uk-button-primary" th:text="Edytuj"></button>
                <button class="uk-button-danger" th:text="Usuń"></button>
        </tr>

        <tr>
            <td>2</td>
            <td>15.04.2020</td>
            <td>1000,00 PLN</td>
            <td>Darowizna</td>
            <td>
                <a th:href="@{/outgo}">
                    <button class="uk-button-primary" th:text="Edytuj"></button>
                </a>
                <button class="uk-button-danger" th:text="Usuń"></button>
        </tr>

        </tbody>
    </table>
    <a th:href="@{/}">
        <button class="uk-button-secondary" th:text="Powrót"></button>
    </a>


</div>
</body>
</html>