<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout(~{::.container})}">
<body>
<div class="container">

    <div class="content-header">
        <h1>TWOJE WPŁYWY - <span th:text="${#dates.monthName(#dates.createNow()).toUpperCase()}"></span></h1>
        <a th:href="@{/incomes/new}">
            <input class="uk-button uk-button-secondary" type="button" value="Dodaj nowy">
        </a>
    </div>

    <h2>SALDO:
        <span th:if="${incomes.isEmpty()}" th:text="${#numbers.formatCurrency(0)}"></span>
        <span th:text="${#numbers.formatCurrency(#aggregates.sum(incomes.![amount]))}"></span>
    </h2>

    <table class="uk-table uk-table-hover">
        <thead>
        <tr>
            <th>Lp.</th>
            <th>Data</th>
            <th>Kwota</th>
            <th>Opis (niewymagane)</th>
            <th>Aktywność</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="income, iterator : ${incomes}">
            <td th:text="${iterator.count}"></td>
            <td th:text="${income.date}"></td>
            <td th:text="${#numbers.formatCurrency(income.amount)}"></td>
            <td th:text="${income.description}"></td>
            <td>
                <a th:href="@{/incomes/edit/{id}(id=${income.id})}">
                    <button class="uk-button uk-button-primary" th:text="Edytuj"></button>
                </a>
                <a th:href="@{/incomes/delete/{id}(id=${income.id})}">
                    <button class="uk-button uk-button-danger" th:text="Usuń"></button>
                </a>
        </tr>
        </tbody>
    </table>
    <a th:href="@{/}">
        <button class="uk-button uk-button-secondary" th:text="Powrót"></button>
    </a>

</div>
</body>
</html>