<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout(~{::.container})}">
<body>
<div class="container">

    <h1>WSZYSTKIE OPERACJE- <span th:text="${#dates.monthName(#dates.createNow()).toUpperCase()}"></span>:</h1>

    <h2 th:text="'SALDO W BIEŻĄCYM MIESIĄCU: ' + ${#numbers.formatCurrency(T(pl.edu.wszib.homebudget.domain.Transaction).currentBalance(transactions))}"></h2>

    <table class="uk-table uk-table-hover">
        <thead>
        <tr>
            <th>Lp.</th>
            <th>Data</th>
            <th>Kwota</th>
            <th>Kategoria</th>
            <th>Opis (niewymagane)</th>
        </tr>
        </thead>
        <tbody>

        <tr th:each="transaction, iterator : ${transactions}">
            <td th:text="${iterator.count}"></td>
            <td th:text="${transaction.date}"></td>
            <td th:if="${transaction.category.getDisplayValue() == 'Wpływy'}"
                th:text="${#numbers.formatCurrency(transaction.amount)}"></td>
            <td th:unless="${transaction.category.getDisplayValue() == 'Wpływy'}"
                th:text="'-' + ${#numbers.formatCurrency(transaction.amount)}"></td>
            <td th:text="${transaction.category.displayValue}"></td>
            <td th:text="${transaction.description}"></td>
        </tr>

        <td colspan="5" th:if="${transactions.isEmpty()}" th:text="#{noData}"></td>

        </tbody>
    </table>
    <a th:href="@{/}">
        <button class="uk-button uk-button-secondary" th:text="Powrót"></button>
    </a>

</div>
</body>
</html>