<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout(~{::.container})}">
<body>
<div class="container">


        <h1>USTAWIENIA UŻYTKOWNIKA</h1>





    <div th:if="${users.isEmpty()}">
        <a th:href="@{/customize/set_user}">
            <input class="uk-button uk-button-secondary" type="button" value="Personalizuj">
        </a>
        <h4>Ustawienia domyślne.</h4>
    </div>

    <div th:each="user, iterator : ${users}"
         class="uk-card uk-card-secondary uk-card-hover uk-card-body uk-light uk-width-1-4 uk-text-center">
        <p class="uk-card-title" th:text="${user.name}"></p>
        <p><b th:text="'Twoje sadlo: ' + ${#numbers.formatCurrency(user.compensateBalance)}"></b></p>
        <a th:href="@{/customize/user/{id}(id=${user.userId})}">
            <button class="uk-button-small uk-button-primary" th:text="Edytuj"></button>
        </a>
        <a th:href="@{/customize/delete/{id}(id=${user.userId})}">
            <button class="uk-button-small uk-button-danger" th:text="Resetuj"></button>
        </a>
    </div>

    <p></p>
    <a th:href="@{/}">
        <button class="uk-button uk-button-secondary" th:text="Powrót"></button>
    </a>


</div>
</body>
</html>