<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout(~{::.container})}">
<body>
<div class="container">


    <div id="settings">

        <div th:if="${users.isEmpty()}">
            <h3>Korzystasz z domyślnych ustawień.</h3>
            <a th:href="@{/customize/set_user}">
                <input class="uk-button uk-button-secondary" type="button" value="Personalizuj ustawienia użytkownika">
            </a>
        </div>

        <div th:each="user, iterator : ${users}"
             class="uk-card uk-card-secondary uk-card-hover uk-card-body uk-light uk-width-1-3 uk-text-center">
            <p class="uk-card-title" th:text="'Witaj ' + ${user.name} + '!'"></p>
            <p>Spersonalizowałeś swoją aplikację. Możesz korzystać z pełnej funkcjonalności (przejdź
                do <a th:href="@{/statistics}"><span>statystyk</span></a>).</p>
            <p>
                <b th:text="'Dnia: ' + ${#temporals.format(user.utime, 'dd-MM-yyyy')}"></b>
                <b th:text="'ustawiłeś saldo początkowe o wartości: ' + ${#numbers.formatCurrency(user.compensateBalance)}"></b>
            </p>
            <a th:href="@{/customize/user/{id}(id=${user.userId})}">
                <button class="uk-button-small uk-button-primary" th:text="Edytuj"></button>
            </a>
            <a th:href="@{/customize/delete/{id}(id=${user.userId})}">
                <button class="uk-button-small uk-button-danger" th:text="Resetuj"></button>
            </a>
        </div>
        <p></p>
    </div>
    <a th:href="@{/}">
        <button class="uk-button uk-button-secondary" th:text="Powrót"></button>
    </a>
</div>
</body>
</html>